{% load static %}


<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../../static/styles.css' %}" />
    <title>Home</title>
</head>
<body>
    <div id="explication">
      <p>Faites un tour pour découvrir le principe du sites</p>
    </div>


    <a href="ajouter_problemes/" class="lien">Ajouter un problème</a>
    <a href="ajouter_solutions/" class="lien">Ajouter une solution</a>
    <a href="voir_problemes/" class="lien">Voir tous les problèmes</a>





</body>
</html>